<ng-container>
    <div class="position-relative">
        <div class="account-gradient" style="padding: 10%;">
        </div>
        <div class="position-absolute top-0 start-0 py-5 w-100">
            <div class="container-xl">
                <div class="row justify-content-center mt-5 w-100">
                    <span class="col-lg-8 col-xl-7">
                        <ng-container>
                            <app-logo></app-logo>
                            <ng-content></ng-content>
                        </ng-container>
                    </span>
                </div>
            </div>
        </div>
    </div>
</ng-container>