<div class="loader-city" *ngIf="city">
    <p-dialog
        [modal]="true"
        [(visible)]="visible"
        [style]="{ width: '100vw', height: '100vh' }"
        [styleClass]="'loader-city-dialog'"
        [draggable]="false"
        [closable]="false">
        <div class="search-loader">
            <div class="plane-loader">
                <i class="fa-solid fa-plane"></i>
            </div>
            <div class="loader-title">{{"loader_text" | translate}}</div>
            <div class="loader-subtitle" *ngIf="city && country">{{ city }}, {{ country }}</div>
        </div>
    </p-dialog>
</div>