.loader-city .p-dialog {
  overflow: hidden !important;
}

.loader-city .p-dialog-content {
  padding: 0 !important;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid var(--dark);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 0.2s linear infinite;
}

.gradient {
  background: linear-gradient(to top, #000000, #00000000);
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
