<ng-container *ngIf="!isWhite">
    <div class="d-flex align-items-center logo" (click)="goHome()">
        <span class="position-relative">
            <img src="assets/icon.png" alt="Website logo" class="logo-image" [width]="70" [height]="70"
                [alt]="'alt_logo' | translate" />

            <div class="home w-100 h-100 position-absolute top-0 left-0 d-flex align-items-center">
                <img src="assets/home.png" [width]="65" [height]="65" alt="Home icon" />
            </div>
        </span>
        <span class="d-none d-md-block">
            <img [src]="'assets/wordmark.png'" width="100%" height="70" [alt]="'alt_logo' | translate" />
        </span>
    </div>
</ng-container>
<ng-container *ngIf="isWhite">
    <div class="d-flex align-items-center logo" (click)="goHome()">
        <span class="position-relative">
            <img src="assets/icon-light.png" alt="Website logo" class="logo-image" [width]="70" [height]="70"
                [alt]="'alt_logo' | translate" />

            <div class="home w-100 h-100 position-absolute top-0 left-0 d-flex align-items-center">
                <img src="assets/home.png" [width]="65" [height]="65" alt="Home icon" />
            </div>
        </span>
        <span class="d-none d-md-block">
            <img [src]="'assets/wordmark-light.png'" width="100%" height="70" [alt]="'alt_logo' | translate" />
        </span>
    </div>
</ng-container>