<div class="premium-calendar d-none d-lg-block">
    <div class="date-strip" *ngIf="dateStripItems?.length">
        <div
            *ngFor="let item of dateStripItems"
            class="date-item"
            role="button"
            [ngClass]="{ 'active': selectedDate === item.key }"
            (click)="selectDate(item.key.toString())"
            [pTooltip]="airlines | filter:item.value['carrierCode']:'name'"
        >
            <div class="date-top">
                <img
                    class="airline-logo"
                    [src]="airlines | filter:item?.value['carrierCode']:'logo'"
                    [alt]="(airlines | filter:item.value['carrierCode']:'name') || 'airline'"
                />
            </div>
            <span class="day-name">{{ item?.key.toString() | date:'EEE d' }}</span>
            <span class="day-num">{{ item?.key.toString() | date:'MMM' }}</span>
            <span class="price-hint">
                <app-amount [value]="item?.value?.['price']"></app-amount>
            </span>
        </div>
    </div>
</div>