.nav-bar a:not(.active-link) {
  color: var(--dark);
}

.nav-bar a:not(.active-link):hover {
  color: var(--main);
}

.p-megamenu {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  color: white !important;
}

.nav-bar ul {
  margin: 0 !important;
  padding: 0 !important;
}

.p-megamenu-item-content {
  padding: 0 !important;
  background-color: white !important;
}

.p-megamenu .p-submenu-header {
  display: none !important;
}

.p-megamenu-submenu-label {
  display: none !important;
}

.disabled {
  cursor: not-allowed;
}

