<ng-container *ngFor="let category of items.category">
  <div class="fw-400 lower-text">{{ category.name | translate }}</div>
  <div class="mt-2 fs-90">
    <div class="my-1"
      *ngFor="let item of (isExpanded(category.id) ? items['list'][category.id] : items['list'][category.id].slice(0, 5))">
      <span class="d-flex align-items-center gap-2">
        <p-checkbox [inputId]="item.id" [value]="groupName+'-'+category.id + '-' + item.id"
          name="{{ groupName+'-'+category.id + '-' + item.id }}" [(ngModel)]="selectedItems"
          (ngModelChange)="selectedItemsChange.emit(selectedItems)">
        </p-checkbox>
        <label [for]="item.id" class="text-capitalize lh-1">{{ item.name | translate }}</label>
      </span>
    </div>
    <button *ngIf="items['list'][category.id].length > 5"
      class="main-text fw-300 text-decoration-underline bg-white p-0 mt-2" (click)="toggleCategory(category.id)">
      {{ (isExpanded(category.id) ? 'show_less' : 'show_more') | translate }}
    </button>
  </div>
  <hr class="border-secondary my-4" />
</ng-container>