<ng-container>
    <form [formGroup]="upadateForm" (ngSubmit)="onUpdate()" [className]="updateClass">
        <div class="row row-gap-4">
            <ng-container *ngFor="let field of updateFields">
                <span [class]="field.col">
                    <app-input-field [id]="field.id" [labelKey]="field.label" [controlName]="field.formControlName"
                        [icon]="field.icon" [type]="field.type" [placeholder]="field.placeholder"
                        [readonly]="field.readonly" [minlength]="field.minlength" [maxlength]="field.maxlength"
                        [keyFilter]="field.keyFilter" [showMessage]="field.showMessage" [formGroup]="upadateForm">
                    </app-input-field>
                </span>
            </ng-container>
        </div>
        <div class="mt-5">
            <app-button [title]="'save'" [class]="'main-border main-bg text-white p-3 rounded-3 w-100'"
                [type]="'submit'" [isLoading]="isUpdateSubmiting()"></app-button>
        </div>
    </form>

    <form [formGroup]="validateForm" (ngSubmit)="onValidate()" [className]="validateClass">
        <div class="row row-gap-4">
            <ng-container *ngFor="let field of validateFields">
                <span [class]="field.col">
                    <app-input-field [id]="field.id" [labelKey]="field.label" [controlName]="field.formControlName"
                        [icon]="field.icon" [type]="field.type" [placeholder]="field.placeholder"
                        [readonly]="field.readonly" [minlength]="field.minlength" [maxlength]="field.maxlength"
                        [keyFilter]="field.keyFilter" [showMessage]="field.showMessage" [formGroup]="validateForm">
                    </app-input-field>
                </span>
            </ng-container>
        </div>
        <div class="mt-5">
            <app-button [title]="'validate'" [class]="'main-border main-bg text-white p-3 rounded-3 w-100'"
                [type]="'submit'" [isLoading]="isValidateSubmiting()"></app-button>
        </div>
    </form>
</ng-container>