<ng-container>
    <div class="grey-bg py-3 px-4 border-bottom rounded-top-3">
        <div class="d-flex justify-content-between gap-2 fs-3">
            <span class="fw-500 text-capitalize">{{data()?.name}}</span>
            <span class="main-text">
                <app-icon icon="building"></app-icon>
            </span>
        </div>
    </div>
    <div class="p-4">
        <div class="lower-bg-gradient text-white d-inline-block p-2 rounded-3 text-capitalize">
            {{data()?.type}}
        </div>
        <div class="row row-gap-4 mt-4">
            <span class="col-md-6">
                <div class="d-flex gap-3">
                    <span class="border bg-light rounded size-45 main-text">
                        <app-icon icon="geo-alt"></app-icon>
                    </span>
                    <span>
                        <div class="opacity-75 fs-90">{{"city" | translate}}</div>
                        <div class="fw-500 mt-1 text-capitalize">{{data()?.address}}</div>
                    </span>
                </div>
            </span>
            <span class="col-6 col-md-3">
                <div class="d-flex gap-3">
                    <span class="border bg-light rounded size-45 main-text">
                        <app-icon icon="gem"></app-icon>
                    </span>
                    <span>
                        <div class="opacity-75 fs-90">{{"category" | translate}}</div>
                        <div class="fw-500 mt-1 d-flex gap-1">
                            <span>{{data()?.category}}</span>
                            <span>
                                <app-rating [rating]="1" [showEmptyStars]="false" [readonly]="true"></app-rating>
                            </span>
                        </div>
                    </span>
                </div>
            </span>
            <span class="col-6 col-md-3">
                <div class="d-flex gap-3">
                    <span class="border bg-light rounded size-45 main-text">
                        <app-icon icon="house-door-fill"></app-icon>
                    </span>
                    <span>
                        <div class="opacity-75 fs-90">{{"rooms" | translate}}</div>
                        <div class="fw-500 mt-1">
                            {{rooms()}}
                        </div>
                    </span>
                </div>
            </span>
        </div>
    </div>
</ng-container>