<div [formGroup]="formGroup">
    <label [for]="id" class="form-label fs-90">{{ labelKey | translate }} <span class="red-text">*</span></label>
    <div class="bg-white rounded height-60 d-flex"
        [ngClass]="{'red-border':control?.touched && control?.invalid, 'green-border':control?.touched && control?.valid, 'border':!control?.touched}">
        <span class="align-self-center ps-3 main-text fs-110">
            <app-icon [icon]="icon"></app-icon>
        </span>
        <span class="w-100">
            <p-inputMask [inputId]="id" [mask]="mask" [placeholder]="placeholder" [slotChar]="slotChar"
                [formControl]="control">
            </p-inputMask>
        </span>
        <span class="align-self-center pe-3 main-text">
            <ng-container *ngIf="control?.touched && control?.invalid">
                <img src="assets/icons/status/failure.png" [width]="15" [height]="15" />
            </ng-container>
            <ng-container *ngIf="control?.touched && control?.valid">
                <img src="assets/icons/status/success.png" [width]="15" [height]="15" />
            </ng-container>
        </span>
    </div>

    <ng-container *ngIf="control?.touched && control?.errors?.['required'] && showMessage">
        <app-error-fields status="required"></app-error-fields>
    </ng-container>
</div>