<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '40rem' }">
    <ng-template #header>
        <div class="fs-4 text-dark fw-500">
            {{"cookies" | translate}}
        </div>
    </ng-template>
    <p [innerHTML]="'cookies_banner_text' | translate">
    </p>

    <div class="mt-5">
        <div class="d-flex align-items-center gap-4 flex-wrap">
            <span class="d-flex align-items-center gap-2">
                <span class="mt-1">
                    <p-toggleswitch [ngModel]="necessary === true" (ngModelChange)="necessary = $event ? true : false"
                        inputId="necessary" [readonly]="true" />
                </span>
                <label for="necessary">{{"necessary" | translate}}</label>
            </span>
            <span class="d-flex align-items-center gap-2">
                <span class="mt-1">
                    <p-toggleswitch [ngModel]="analytics === true" (ngModelChange)="analytics = $event ? true : false"
                        inputId="analytics" />
                </span>
                <label for="analytics">{{"analytics" | translate}}</label>
            </span>
            <span class="d-flex align-items-center gap-2">
                <span class="mt-1">
                    <p-toggleswitch [ngModel]="marketing === true" (ngModelChange)="marketing = $event ? true : false"
                        inputId="marketing" />
                </span>
                <label for="marketing">{{"marketing" | translate}}</label>
            </span>
        </div>
    </div>
    <div class="mt-5 pt-3 fs-90">

    </div>
    <ng-template #footer>
        <div class="w-100 fs-90">
            <div class="row row-gap-3 justify-content-between">
                <span class="col-sm-4">
                    <a href="cookies" target="_blank"
                        class="border bg-light blue-text py-3 px-4 rounded-5 d-inline-block w-100 text-center">{{"find_out_more"
                        |
                        translate}}</a>
                </span>
                <span class="col-sm-8">
                    <div class="d-flex justify-content-end gap-3">
                        <span class="w-50">
                            <app-button [class]="'main-border main-text py-3 px-5 bg-white rounded-5 w-100'"
                                [title]="'reject_all'" (action)="refuseAll()"></app-button>
                        </span>
                        <span class="w-50">
                            <app-button [class]="'main-bg text-white py-3 px-5 rounded-5 w-100'" [title]="'accept_all'"
                                (action)="acceptAll(analytics, marketing, functional, social, performance)"></app-button>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </ng-template>
</p-dialog>