<div class="company-modal">
    <ng-container *ngIf="isLoading()">
        <app-skeleton-company [service]="service"></app-skeleton-company>
    </ng-container>

    <ng-container *ngIf="error()">
        <app-error-request caption="error_flight_others"></app-error-request>
    </ng-container>

    <ng-container *ngIf="!isLoading() && !error()">
        <div class="premium-results">
            <div class="ticket-list">
                <ng-container *ngFor="let item of data(); let i = index">
                    <article class="ticket-card">
                        <div class="ticket-flights">
                            <ng-container *ngFor="let Itinerary of item.Itinerary; let last = last">
                                <div class="flight-row" *ngIf="Itinerary?.Segments?.length">
                                    <div class="airline-box">
                                        <img class="airline-img" [src]="airlines | filter:item.CarrierCode:'logo'" [alt]="item.CarrierName" />
                                        <div class="airline-name">{{ item.CarrierName }}</div>
                                    </div>

                                    <div class="flight-timeline">
                                        <div class="time-box">
                                            <div class="time">{{ Itinerary?.Segments?.[0]?.DepartureDateTime?.replace(' ', 'T') | date:'HH:mm' }}</div>
                                            <div class="airport">{{ Itinerary?.Segments?.[0]?.DepartureAirportCode }}</div>
                                        </div>

                                        <div class="route-line-container">
                                            <div class="duration">{{ Itinerary?.Duration }}</div>
                                            <div class="route-line"><i class="fas fa-plane" [ngClass]="{ 'mirror': Itinerary?.Ref === 2 }"></i></div>
                                            <div class="direct">
                                                {{ (Itinerary?.Segments?.length - 1) > 0 ? ((Itinerary?.Segments?.length - 1) + ' escale') : ('direct' | translate) }}
                                            </div>
                                        </div>

                                        <div class="time-box end">
                                            <div class="time">{{ Itinerary?.Segments?.[Itinerary?.Segments?.length - 1]?.ArrivalDateTime?.replace(' ', 'T') | date:'HH:mm' }}</div>
                                            <div class="airport">{{ Itinerary?.Segments?.[Itinerary?.Segments?.length - 1]?.ArrivalAirportCode }}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="flight-divider" *ngIf="!last"></div>
                            </ng-container>
                        </div>

                        <div class="ticket-action">
                            <div class="total-price">
                                <app-amount [value]="item.TotalAmount"></app-amount>
                            </div>

                            <button
                                type="button"
                                class="btn-book"
                                [disabled]="isSubmiting()[item.RateKey]"
                                (click)="getCheckRate(item, item.RateKey)"
                            >
                                <span class="btn-loading" *ngIf="isSubmiting()[item.RateKey]">
                                    <span class="spinner"></span>
                                    <span>{{ 'loading' | translate }}</span>
                                </span>
                                <span *ngIf="!isSubmiting()[item.RateKey]">{{ 'book' | translate }}</span>
                            </button>
                        </div>
                    </article>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>