<ng-container>
    <div class="main-border-2 rounded-3">
        <p-skeleton width="100%" height="60px" styleClass="rounded-2" />
        <div class="row justify-content-between">
            <span class="col-md-9">
                <div class="p-4">
                    <div class="fs-120">
                        <div>
                            <p-skeleton width="120px" height="20px" styleClass="rounded-2" />
                        </div>
                        <div class="my-2">
                            <p-skeleton width="90px" height="20px" styleClass="rounded-2" />
                        </div>
                        <div>
                            <p-skeleton width="120px" height="20px" styleClass="rounded-2" />
                        </div>
                    </div>
                </div>
            </span>
            <span class="col-md-3 d-flex justify-content-end align-self-center">
                <div class="main-border-2 border-top-0 border-end-0 border-bottom-0 p-4">
                    <p-skeleton width="120px" height="120px" styleClass="rounded-2" />
                </div>
            </span>
        </div>
    </div>

    <div class="lower-border p-3 mt-5 rounded-3 position-relative text-center">
        <div class="position-absolute bg-white lower-text px-3 fs-110 fw-medium" style="top: -15px; left: 25px;">
            <p-skeleton width="60px" height="20px" styleClass="rounded-2" />
        </div>
        <div class="row row-gap-3">
            <span class="col-md-4">
                <p-skeleton width="100%" height="30px" styleClass="rounded-2" />
                <div class="py-2">
                    <p-skeleton width="220px" height="20px" styleClass="rounded-2" />
                </div>
            </span>
            <span class="col-md-4">
                <p-skeleton width="100%" height="30px" styleClass="rounded-2" />
                <div class="py-2">
                    <p-skeleton width="10px" height="20px" styleClass="rounded-2" />
                </div>
            </span>
            <span class="col-md-4">
                <p-skeleton width="100%" height="30px" styleClass="rounded-2" />
                <div class="py-2">
                    <p-skeleton width="60px" height="20px" styleClass="rounded-2" />
                </div>
            </span>
        </div>
    </div>

    <div class="lower-border p-3 mt-5 rounded-3 position-relative">
        <div class="position-absolute bg-white lower-text px-3 fs-110 fw-medium" style="top: -15px; left: 25px;">
            <p-skeleton width="120px" height="30px" styleClass="rounded-2" />
        </div>
        <div class="pt-3">
            <p-skeleton width="100%" height="120px" styleClass="rounded-2" />
        </div>
    </div>

</ng-container>