<ng-container>
    <form [formGroup]="newsletterForm" (ngSubmit)="subscribeToNewsletter()">
        <div class="bg-white border p-1 rounded d-flex align-items-center gap-2 w-100 mt-4">
            <div class="w-75">
                <ng-container *ngFor="let field of fields.slice(0,4)">
                    <span [class]="field.col">
                        <app-input-field [id]="field.id" [labelKey]="field.label"
                            [controlName]="field.formControlName" [icon]="field.icon" [type]="field.type"
                            [placeholder]="field.placeholder" [minlength]="field.minlength"
                            [maxlength]="field.maxlength" [readonly]="field.readonly" [keyFilter]="field.keyFilter"
                            [showMessage]="field.showMessage" [formGroup]="newsletterForm">
                        </app-input-field>
                    </span>
                </ng-container>
            </div>

            <div class="w-25">
                <app-button [type]="'submit'" [title]="'subscribe'"
                    [class]="'main-bg-gradient text-white p-3 rounded border-0 w-100 fs-80 height-60'"
                    [isLoading]="isLoading()"></app-button>
            </div>
        </div>
    </form>
</ng-container>