@for $i from 15 through 120 {
  @if $i % 5 == 0 {
    .size-#{$i} {
      --size: #{$i}px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--size);
      height: var(--size);
      max-width: var(--size);
      max-height: var(--size);
      min-width: var(--size);
      min-height: var(--size);
    }
  }
}
