<section class="text-center">
    <h2 class="fs-300 fw-600">{{"partner_with_us" | translate}}</h2>
    <p class="fs-4 text-secondary">{{"referall_caption" | translate}}</p>
    <ng-container>
        <div class="gradient mt-5">
            <div class="container-xl position-relative">
                <img src="assets/images/referral-bg.webp" width="100%" height="100%"
                    [alt]="'alt_referral_bg' | translate" loading="lazy" />
            </div>
        </div>
        <div class="container-xl mt-5">
            <app-ad-referral-program></app-ad-referral-program>
        </div>
    </ng-container>
</section>