<div class="bw-booking">
    <div class="bw-toolbar">
        <div class="bw-toolbar__left">
            <div class="bw-pill-group">
                <button type="button" class="bw-pill" *ngFor="let type of data" [class.bw-pill--active]="flightType === type.code"
                    (click)="setFlightTYpe(type.code)">
                    {{ type.title | translate }}
                </button>
            </div>
        </div>
        <div class="bw-toolbar__right">
            <div class="bw-toggle-row">
                <span class="bw-toggle-row">
                    <p-toggleswitch [ngModel]="stops === 'direct'"
                        (ngModelChange)="stops = $event ? 'direct' : 'all'" inputId="stops" />
                    <label for="stops">{{"direct_flight" | translate}}</label>
                </span>
                <span class="bw-toggle-row">
                    <p-toggleswitch [ngModel]="luggages === true" (ngModelChange)="luggages = $event ? true : false"
                        inputId="luggages" />
                    <label for="luggages">{{"with_luggage" | translate}}</label>
                </span>
                <span class="bw-toggle-row">
                    <p-toggleswitch [ngModel]="refundable === true"
                        (ngModelChange)="refundable = $event ? true : false" inputId="refundable" />
                    <label for="refundable">{{"refundable" | translate}}</label>
                </span>
            </div>
        </div>
    </div>
    <ng-container [ngSwitch]="flightType">
        <ng-container *ngSwitchCase="'RT'">
            <app-flights-roundtrip-search-form [fetchCities]="fetchCities.bind(this)"
                [airports]="airports" [stops]="stops" [luggages]="luggages"
                [refundable]="refundable"
                [isXsOrSm]="isXsOrSm"></app-flights-roundtrip-search-form>
        </ng-container>
        <ng-container *ngSwitchCase="'OW'">
            <app-flights-oneway-search-form [fetchCities]="fetchCities.bind(this)" [airports]="airports"
                [stops]="stops" [luggages]="luggages" [refundable]="refundable"></app-flights-oneway-search-form>
        </ng-container>

        <ng-container *ngSwitchCase="'MD'">
            <app-flights-multi-search-form [fetchCities]="fetchCities.bind(this)" [airports]="airports"
                [stops]="stops" [luggages]="luggages" [refundable]="refundable"></app-flights-multi-search-form>
        </ng-container>
    </ng-container>
</div>
