<ng-container>
    <form [formGroup]="passwordForm" (ngSubmit)="onsubmit()">
        <div class="row row-gap-4">
            <ng-container *ngFor="let field of fields">
                <span [class]="field.col">
                    <ng-container *ngIf="field.id === 'email-recover-password'">
                        <app-input-field [id]="field.id" [labelKey]="field.label"
                            [controlName]="field.formControlName" [icon]="field.icon" [type]="field.type"
                            [placeholder]="field.placeholder" [readonly]="field.readonly" [minlength]="field.minlength"
                            [maxlength]="field.maxlength" [keyFilter]="field.keyFilter"
                            [showMessage]="field.showMessage" [formGroup]="passwordForm">
                        </app-input-field>
                    </ng-container>

                    <ng-container *ngIf="field.id !== 'email-recover-password'">
                        <app-password-field [id]="field.id" [labelKey]="field.label"
                            [controlName]="field.formControlName" [icon]="field.icon" [minlength]="field.minlength"
                            [maxlength]="field.maxlength" [toggleMask]="field.toggleMask" [feedback]="field.feedback"
                            [showMessage]="field.showMessage" [formGroup]="passwordForm"></app-password-field>
                    </ng-container>
                </span>
            </ng-container>
        </div>

        <div class="row row-gap-4 mt-5">
            <span class="col-sm-6">
                <a class="main-border height-60 rounded-3 d-block d-flex justify-content-center align-items-center main-text"
                    href="/login">{{"cancel" | translate}}</a>
            </span>
            <span class="col-sm-6">
                <app-button [type]="'submit'" [title]="'reset'" [class]="'height-60 rounded-3 main-bg text-white w-100'"
                    [isLoading]="isLoading()"></app-button>
            </span>
        </div>
    </form>
</ng-container>