<section>
    <div class="position-relative" style="z-index: -1;">
        <div class="position-relative overflow-hidden w-100" style="max-height: 500px; min-height: 500px;">
            <ng-container *ngFor="let img of images; let i = index">
                <img class="position-absolute top-0 start-0" *ngIf="i === currentIndex" [@fade]
                    [src]="'assets/images/'+img" width="100%" height="100%" loading="lazy" style="object-fit: cover;" />
            </ng-container>
        </div>
        <div
            class="position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 d-flex align-items-center text-center">
            <div class="text-center w-100 text-white">
                <h1 class="fw-bold text-capitalize" style="font-size: 5vmin;">{{title | translate}}</h1>
                <p class="fs-4 fw-light opacity-75 fw-medium">{{caption | translate}}</p>
            </div>
        </div>
    </div>
    <div class="container-xl" style="margin-top: -50px;">
        <ng-content></ng-content>
    </div>
</section>