<app-account-gradient>
    <ng-container *ngIf="isLoading()">
        <div class="mt-3">
            <app-account-inprogress [appMail]="appMail"></app-account-inprogress>
        </div>
    </ng-container>

    <ng-container *ngIf="error()">
        <div class="mt-3">
            <app-account-inactive></app-account-inactive>
        </div>
    </ng-container>

    <ng-container *ngIf="!isLoading() && !error()">
        <div class="mt-3">
            <app-account-active [appName]="appName"></app-account-active>
        </div>
    </ng-container>

    <hr class="my-5 border-secondary" />

    <div class="text-center">
        {{"activation_footer_text" | translate}} 🌍
    </div>
</app-account-gradient>