<br>
<div class="lower-text text-decoration-underline fs-120 fw-medium">{{"passenger" | translate}}</div>

 <div class="my-4 lower-border ">
        <div class="lower-bg p-3 text-white">
            <div class="row">
                <span class="col-xl-6">
                    <div>{{"name" | translate}}</div>
                </span>
               
                <span class="col-xl-6">
                    <div>{{"type" | translate}}</div>
                </span>
            </div>
        </div>
        <ng-container *ngFor="let item of data"  >
                <div class="row">
                <span class="col-xl-6 pe-0">
                <div class="p-4 border fw-medium">{{item.title}} {{item.lastName}} {{item.firstName}}</div>
                </span>
               
                <span class="col-xl-6 ps-0">
                <div class="p-4 border fw-medium">{{item.type | translate}}</div>
                </span>
                </div>
</ng-container> 
        
    </div>

