<div class="row row-gap-4">
    <div *ngFor="let hotel of items; let i = index" class="col-sm-6 col-lg-4">
        <div class="item-card bg-white rounded-4 h-100 overflow-hidden" (mouseenter)="overlay[i] = true"
            (mouseleave)="overlay[i] = false">
            <div>
                <img class="rounded-top-4" [src]="hotel.image" alt="" width="100%" height="100%"
                    style="max-height: 200px;min-height: 200px;" (error)="dis.handleImgError($event, defaultImages)" />
            </div>

            <div class="position-relative">
                <div class="p-3 d-flex flex-column justify-content-between" style="height: 140px;">
                    <div>
                        <div class="fw-medium text-capitalize">{{hotel.name.slice(0,45)}}</div>
                        <div class="d-flex align-items-center gap-2 mt-1">
                            <span class="main-text">
                                <app-icon icon="geo-alt"></app-icon>
                            </span>
                            <span class="fs-90 text-secondary text-capitalize">{{ hotel.city_name }},
                                {{hotel.country_name}}</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-between mt-2">
                        <span>
                            <app-rating [rating]="hotel.category"></app-rating>
                        </span>
                        <span class="fs-5 green-text" *ngIf="isTruePriceLoad()">
                            <app-amount [value]="hotel.amount"></app-amount>
                        </span>
                        <span class="px-3" *ngIf="!isTruePriceLoad()">
                            <app-spinner [isWhite]="false" [size]="20"></app-spinner>
                        </span>
                    </div>
                </div>

                <div class="overlay w-100 h-100 position-absolute top-0 left-0" *ngIf="overlay[i] && isTruePriceLoad()">
                    <div class="d-flex align-items-end justify-content-center h-100 py-4">
                        <app-button [class]="'fs-90 p-3 main-bg main-border text-white rounded-5 width-180 text-center'"
                            [title]="'view_details'" [isLoading]="isLoading()[hotel.id]" (action)="getRooms(hotel)"
                            [disabled]="!isTruePriceLoad()"></app-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>