<ng-container>
  <app-account-gradient>
    <div class="fs-1 fw-medium">{{"signup" | translate}}!</div>
    <p class="fs-110 opacity-75">{{"signup_caption" | translate}}</p>
    <div class="mt-5">
      <app-signup-form></app-signup-form>
    </div>

    <div class="row row-gap-4 mt-5">
      <span class="col-md-6">
        <app-google-auth-field></app-google-auth-field>
      </span>
        <span class="col-md-6">
        <app-facebook-auth-field></app-facebook-auth-field>
      </span>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-4 gap-2">
            <span>{{"already_have_an_account" | translate}}</span>
            <a href="login" class="green-text fw-medium">{{"login" | translate}}</a>
        </div>
  </app-account-gradient>
</ng-container>