<div class="border bg-light p-4 rounded-3">
    <div class="border bg-white rounded p-3">
        <div class="fw-500">{{"checkin_checkout" | translate}}</div>
        <div class="mt-2 fs-90 text-secondary">
            {{ parseDate(params?.checkin) | date:'MMMM dd, Y' }}
            -
            {{ parseDate(params?.checkout) | date:'MMMM dd, Y' }}
        </div>
    </div>

    <div class="border bg-white rounded my-3 p-3">
        <div class="fw-500">{{"guests" | translate}}</div>
        <div class="w-100 d-flex mt-2 fs-90 text-secondary">
            <span>{{params?.roomsCount}} {{"rooms" | translate}}</span>
            <span>
                <app-icon icon="dot"></app-icon>
            </span>
            <span>{{params?.rooms | sum:'adult'}} {{"adults" | translate}}</span>
            <span>
                <app-icon icon="dot"></app-icon>
            </span>
            <span>{{params?.rooms | sum:'child'}} {{"childs" | translate}}</span>
        </div>
    </div>

    <app-button [title]="'check_availability'"
        [class]="'main-bg main-border w-100 mt-3 text-white rounded-3 d-flex justify-content-center align-items-center p-4'"
        [isLoading]="isLoading" [appScrollTo]="'rooms-availability'"></app-button>
</div>