<footer class="dark-text">
    <div class="container-xl py-3">
        <div class="row justify-content-between align-items-center row-gap-3">
            <span class="col-md-6 col-xl-4">
                <ng-container>
                    <div class="w-100">
                        <app-logo [isWhite]="false"></app-logo>
                    </div>
                    <p class="fs-120 fw-medium mt-3">{{"footer_text" | translate }}.</p>
                </ng-container>
            </span>
            <span class="col-md-6">
                <div class="d-flex justify-content-end flex-wrap gap-4 text-capitalize">
                    <span *ngFor="let item of networks" class="text-capitalize" [pTooltip]="item.icon">
                        <a target="_blank" [href]="item.link" class="dark-text fs-110 border size-45 shadow-sm rounded">
                            <!-- <app-icon [icon]="item.icon"></app-icon> -->

                            <img [src]="'assets/images/'+item.icon+'.png'" [width]="20" [height]="20" />
                        </a>
                    </span>
                </div>
            </span>
        </div>

        <hr class="border-secondary mt-3" />

        <div class="py-3">
            <div class="row row-gap-4">
                <span class="col-md-4 col-lg-4">
                    <ng-container>
                        <div class="fw-medium">{{"support" | translate }}</div>
                        <div class="d-flex flex-column gap-4 mt-3">
                            <span *ngFor="let item of support" class="d-flex gap-3">
                                <span class="fs-3 main-text">
                                    <app-icon [icon]="item.img"></app-icon>
                                </span>
                                <span>
                                    <div class="fs-80">{{item.title | translate }}</div>
                                    <div class="fs-90 fw-medium">{{item.content}}</div>
                                </span>
                            </span>
                        </div>
                    </ng-container>
                </span>
                <span class="col-md-8 col-lg-8">
                    <div class="row row-gap-4">
                        <span class="col-sm-6 col-lg-3">
                            <ng-container>
                                <div class="fw-medium">{{"company" | translate }}</div>
                                <div class="mt-3 d-flex flex-column justify-content-between gap-3">
                                    <a *ngFor="let item of company" [href]="item.link" target="_blank"
                                        class="dark-text fs-90 opacity-75">{{item.title |
                                        translate }}</a>
                                </div>
                            </ng-container>
                        </span>

                        <span class="col-sm-6 col-lg-3">
                            <ng-container>
                                <div class="fw-medium">{{"services" | translate }}</div>
                                <div class="mt-3 d-flex flex-column justify-content-between gap-3">
                                    <a *ngFor="let item of services" [href]="item.link" target="_blank"
                                        class="dark-text fs-90 opacity-75">{{item.title |
                                        translate }}</a>
                                </div>
                            </ng-container>
                        </span>
                        <span class="col-lg-6">
                            <app-newsletter></app-newsletter>
                        </span>
                    </div>
                </span>
            </div>
        </div>

        <hr class="border-secondary my-3" />

        <div class="mt-4">
            <div class="row row-gap-3">
                <span class="col-md-6">
                    <div>© {{currentYear}} <span class="main-text">{{appName}}</span>. {{'all_rights_reserved' |
                        translate}}</div>
                </span>

                <span class="col-md-6">
                    <div class="d-flex justify-content-end align-items-center gap-5 opacity-75 fs-90">
                        <span *ngFor="let item of usefulLinks">
                            <a [href]="item.link" target="_blank" class="d-inline-block dark-text">{{item.title |
                                translate}}</a>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
</footer>