<div class="main-input rounded height-60 d-flex align-items-center">
    <label class="align-self-center ps-3 main-text fs-110">
        <div [ngSwitch]="placeholder">
            <ng-container *ngSwitchCase="'property_class'">
                <app-icon icon="award"></app-icon>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <app-icon icon="trophy"></app-icon>
            </ng-container>
          </div>
    </label>
    <span class="w-100">
        <p-multiselect [options]="placeholder === 'property_class' ? category : rating" [(ngModel)]="selected"
            (ngModelChange)="onChange($event)" optionLabel="name" optionValue="id"
            [placeholder]="placeholder | translate" [maxSelectedLabels]="0" [disabled]="disabled">
            <ng-template let-item #item>
                <div class="d-flex align-items-center gap-2" *ngIf="placeholder === 'property_class'">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"
                            stroke="#FFB700" fill="#FFB700" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" class="lucide lucide-star">
                            <path
                                d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z" />
                        </svg>
                    </span>
                    <span>
                        {{ item.name }}
                        <ng-container>
                            {{ (item.name === '1' ? 'star' : 'stars') | translate }}
                        </ng-container>
                    </span>
                </div>

                <div class="d-flex align-items-center gap-2" *ngIf="placeholder === 'review_score'">
                    <span>
                        {{item.icon}}
                    </span>
                    <span>
                        {{ item.name | translate}}
                    </span>
                </div>
            </ng-template>
        </p-multiselect>
    </span>
</div>