<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" [closable]="false">
    <ng-template #headless>
        <div class="p-4">
            <div class="fs-5 size-45 bg-opacity-10 rounded-circle"
                [ngClass]="{'bg-success green-text':severity === 'success', 'bg-primary blue-text':severity === 'info', 'bg-warning main-text':severity === 'warning', 'bg-danger red-text':severity === 'danger'}">
                <app-icon [icon]="icon"></app-icon>
            </div>
            <div class="fs-110 fw-medium mt-3 dark-text">{{title | translate}}</div>
            <p class="opacity-75 mt-2" *ngIf="caption">{{caption | translate}}</p>
            <ng-content></ng-content>
        </div>
        <div class="grey-bg p-3 rounded-bottom-4">
            <div class="d-flex justify-content-end gap-3">
                <app-button [type]="'button'" [title]="'cancel'"
                    [class]="'main-border main-text bg-white py-2 px-4 rounded-3 fs-90'"
                    (action)="closeModal()"></app-button>
                <button (click)="buttonFunction()" [type]="'button'"
                    class="main-bg text-white py-2 px-4 rounded-3 fs-90">{{trigger |
                    translate}}</button>
            </div>
        </div>
    </ng-template>
</p-dialog>