<div class="bg-white rounded-4 mb-4 w-100 p-3" *ngFor="let item of [].constructor(20); let i = index">
    <div class="row align-items-center">
        <span class="col-sm-1">
            <p-skeleton shape="circle" size="35px" styleClass="mr-2" />
        </span>
        <span class="col-sm-11">
            <div class="row align-items-start">
                <span class="col-sm-3">
                    <div class="d-flex flex-column align-items-start">
                        <p-skeleton width="5rem" styleClass="mb-2" />
                        <p-skeleton width="10rem" styleClass="mb-2" />
                        <p-skeleton width="2rem" styleClass="mb-2" />
                    </div>
                </span>
                <span class="col-sm-6 align-self-center">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                        <span>
                            <p-skeleton width="5rem" height="8px" />
                        </span>
                        <span class="gap-2">
                            <p-skeleton width="10rem" />
                        </span>
                        <span>
                            <p-skeleton width="5rem" height="8px" />
                        </span>
                    </div>
                </span>
                <span class="col-sm-3">
                    <div class="d-flex flex-column align-items-end">
                        <p-skeleton width="5rem" styleClass="mb-2" />
                        <p-skeleton width="10rem" styleClass="mb-2" />
                        <p-skeleton width="2rem" styleClass="mb-2" />
                    </div>
                </span>
            </div>
        </span>
    </div>

    <hr class="border-secondary my-3" />

    <div class="row align-items-center">
        <span class="col-sm-1">
            <p-skeleton shape="circle" size="35px" styleClass="mr-2" />
        </span>
        <span class="col-sm-11">
            <div class="row align-items-start">
                <span class="col-sm-3">
                    <div class="d-flex flex-column align-items-start">
                        <p-skeleton width="5rem" styleClass="mb-2" />
                        <p-skeleton width="10rem" styleClass="mb-2" />
                        <p-skeleton width="2rem" styleClass="mb-2" />
                    </div>
                </span>
                <span class="col-sm-6 align-self-center">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                        <span>
                            <p-skeleton width="5rem" height="8px" />
                        </span>
                        <span class="gap-2">
                            <p-skeleton width="10rem" />
                        </span>
                        <span>
                            <p-skeleton width="5rem" height="8px" />
                        </span>
                    </div>
                </span>
                <span class="col-sm-3">
                    <div class="d-flex flex-column align-items-end">
                        <p-skeleton width="5rem" styleClass="mb-2" />
                        <p-skeleton width="10rem" styleClass="mb-2" />
                        <p-skeleton width="2rem" styleClass="mb-2" />
                    </div>
                </span>
            </div>
        </span>
    </div>
</div>