<p-accordion [multiple]="multiple" [activeIndex]="0" expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
    <div *ngFor="let item of data;" class="my-3 border rounded-3 p-2">
        <!--
        
        <p-accordionTab header="1">
            <ng-template pTemplate="header">
                <div class="fs-110 fw-400 d-flex align-items-center text-dark">
                    <span class="border p-2 px-3 grey-bg main-text rounded-3">Day {{item.day}}</span>
                    <span class="mx-3">{{item.destination}}</span>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <p class="m-0 text-secondary fw-300 fs-90">{{item.description}}</p>
            </ng-template>
        </p-accordionTab>
        
        -->
    </div>
</p-accordion>