<button type="button"
    class="bg-transparent d-flex justify-content-center align-items-center gap-2 bg-white p-4 rounded w-100 border shadow-sm lh-1"
    [disabled]="true">
    <span>
        <ng-container *ngIf="isLoading()">
            <app-spinner [size]="20" [isWhite]="false"></app-spinner>
        </ng-container>

        <ng-container *ngIf="!isLoading()">
            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968764.png" [width]="20" [height]="20"
                alt="Facebook logo" />
        </ng-container>

    </span>
    <span>{{"continue_with" | translate}} Facebook</span>
</button>