<form [formGroup]="recoverPassswordForm" (ngSubmit)="recoverPassword()">
    <ng-container *ngFor="let field of fields">
        <span [class]="field.col">
            <app-input-field [id]="field.id" [labelKey]="field.label" [controlName]="field.formControlName"
                [icon]="field.icon" [type]="field.type" [placeholder]="field.placeholder" [readonly]="field.readonly"
                [minlength]="field.minlength" [maxlength]="field.maxlength" [keyFilter]="field.keyFilter"
                [showMessage]="field.showMessage" [formGroup]="recoverPassswordForm">
            </app-input-field>
        </span>
    </ng-container>

    <div class="row mt-5">
        <span class="col-xl-6">
            <a href="/login" class="d-block main-border p-3 main-text bg-white w-100 rounded-3 text-center">{{"cancel" |
                translate}}</a>
        </span>
        <span class="col-xl-6">
            <app-button [type]="'submit'" [title]="'send'" [class]="'p-3 rounded-3 main-bg text-white w-100'"
                [isLoading]="isLoading()"></app-button>
        </span>
    </div>
</form>