<div class="border bg-light p-4 rounded-3 my-3">
    <div class="border bg-white rounded my-3 p-3 d-flex justify-content-between align-items-center gap-3">
        <span>
            <div class="fw-500">{{"to_read" | translate}}</div>
            <div class="mt-2 fs-90 text-secondary">
                {{duration()}} {{"minutes" | translate}}
            </div>
        </span>
        <span class="main-text fs-110">
            <app-icon icon="alarm"></app-icon>
        </span>
    </div>

    <div class="border bg-white rounded my-3 p-3 d-flex justify-content-between align-items-center gap-3">
        <span>
            <div class="fw-500">{{"created_at" | translate}}</div>
            <div class="mt-2 fs-90 text-secondary">
                {{created_at() | date:'MMMM d, YYYY'}}
            </div>
        </span>
        <span class="main-text fs-110">
            <app-icon icon="calendar2-check"></app-icon>
        </span>
    </div>
</div>