<ng-container>
  <div class="d-flex justify-content-between align-items-center">
    <span>
      <div class="fs-5">{{"password" | translate}}</div>
      <div class="fw-300 text-secondary">{{"password_caption" | translate}}
      </div>
    </span>
    <span>
      <span role="button" class="p-1 grey-bg border rounded-5 d-flex justify-content-center align-items-center mx-1"
        (click)="showDialog()">
        <div class="d-flex justify-content-center align-items-center fw-300 text-dark px-4" style="min-height:45px;">
          <app-icon icon="pen"></app-icon>
          <span class="ms-2 fs-90">{{"edit" | translate}}</span>
        </div>
      </span>
    </span>
  </div>

  <p-dialog [header]="'password' | translate" [(visible)]="visible" [modal]="true" [style]="{ width: '45rem' }"
    [draggable]="false">
    <app-update-password-form></app-update-password-form>
  </p-dialog>
</ng-container>