<ng-container *ngFor="let item of [].constructor(20); let i = index">
    <div class="bg-white rounded-4 mb-4 overflow-hidden" *ngIf="activeButton === 'flex'">
        <div class="row">
            <span class="col-md-3">
                <div class="h-100 overflow-hidden">
                    <p-skeleton width="100%" height="225px" styleClass="rounded-0" />
                </div>
            </span>
            <span class="col-md-9">
                <div class="p-3 ps-md-0">
                    <p-skeleton width="70%" height="25px" />
                    <div class="row row-gap-3 mt-2">
                        <span class="col-sm-8">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="d-none d-sm-flex align-items-center">
                                    <span>
                                        <p-skeleton width="160px" height="20px" />
                                    </span>
                                    <span>
                                        <app-icon icon="dot"></app-icon>
                                    </span>
                                    <span>
                                        <p-skeleton width="120px" height="20px" />
                                    </span>
                                </div>

                                <div class="mt-2 d-none d-sm-block">
                                    <p-skeleton width="100%" height="20px" styleClass="rounded-0" />
                                    <p-skeleton width="20%" height="20px" styleClass="rounded-0" />
                                </div>

                                <div class="d-none d-sm-flex">
                                    <span class="me-3" *ngFor="let item of [].constructor(2)">
                                        <p-skeleton width="120px" height="40px" />
                                    </span>
                                </div>
                            </div>
                        </span>
                        <span class="col-sm-4">
                            <div class="row align-items-center justify-content-between h-100 row-gap-3">
                                <span class="col-sm-12 d-none d-sm-flex justify-content-end ">
                                    <p-skeleton width="90px" height="40px" />
                                </span>

                                <span class="col-6 col-sm-12">
                                    <div class="d-flex justify-content-end">
                                        <p-skeleton width="120px" height="30px" />
                                    </div>
                                </span>

                                <span class="col-6 col-sm-12 d-flex justify-content-end justify-self-end">
                                    <p-skeleton width="160px" height="50px" />
                                </span>
                            </div>
                        </span>
                    </div>
                </div>
            </span>
        </div>
    </div>

    <ng-container *ngIf="activeButton !== 'flex'">
        <div class="row row-gap-4">
            <div *ngFor="let item of [].constructor(20); let i = index" class="col-md-6 col-xl-4">
                <div class="bg-white rounded-4 h-100 overflow-hidden">
                    <div>
                        <p-skeleton width="100%" height="200px" class="rounded-0" />
                    </div>

                    <div class="p-3">
                        <div>
                            <div>
                                <p-skeleton width="80%" height="30px" />
                            </div>
                            <div class="d-flex align-items-center gap-2 mt-2">
                                <span class="d-flex gap-2">
                                    <span>
                                        <p-skeleton width="20px" height="20px" />
                                    </span>
                                    <span>
                                        <p-skeleton width="60px" height="20px" />
                                    </span>
                                    <span>
                                        <p-skeleton width="60px" height="20px" />
                                    </span>
                                </span>
                            </div>

                            <div class="d-flex align-items-center justify-content-between mt-3">
                                <span>
                                    <p-skeleton width="60px" height="20px" />
                                </span>
                                <span>
                                    <p-skeleton width="80px" height="20px" />
                                </span>
                            </div>
                        </div>

                        <!-- <div class="d-flex align-items-center justify-content-between mt-2">
                            <span>
                                <app-rating [rating]="2 | random:5"></app-rating>
                            </span>
                            <span class="fs-4 fw-medium green-text">
                                <app-amount [value]="attraction.Amount"></app-amount>
                            </span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>