<section class="container-xl">
    <div class="d-flex flex-column align-items-center text-center">
        <div class="row justify-content-center">
            <span class="col-6 col-sm-4 col-md-3">
                <div>
                    <img src="assets/illustrations/coming-soon.svg" width="100%" height="100%" loading="lazy" />
                </div>
            </span>
        </div>
        <div class="fs-1 fw-bold mt-3 lower-text-gradient">{{"coming_soon_title" | translate}}</div>
        <p class="fs-120 fw-medium text-secondary">{{"coming_soon_caption" | translate }}</p>
        <div class="fw-400 main-text text-capitalize">{{"notify_me" | translate}}</div>
        <app-newsletter-form></app-newsletter-form>
    </div>
</section>