<div class="d-flex align-items-center justify-content-between">
    <span class="text-center">
        <div class="p-3 grey-bg rounded-3 fs-3">{{days}}</div>
        <div>Jours</div>
    </span>

    <span class="fs-5">:</span>

    <span class="text-center">
        <div class="p-3 grey-bg rounded-3 fs-3">{{hours}}</div>
        <div>Heures</div>
    </span>

    <span class="fs-5">:</span>

    <span class="text-center">
        <div class="p-3 grey-bg rounded-3 fs-3">{{minutes}}</div>
        <div>Minutes</div>
    </span>

    <span class="fs-5">:</span>

    <span class="text-center">
        <div class="p-3 grey-bg rounded-3 fs-3">{{seconds}}</div>
        <div>Secondes</div>
    </span>
</div>